[submodule "libft"]
	path = libft
	url = https://tperraut@github.com/tperraut/libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://tperraut@github.com/tperraut/ft_printf
[submodule "fillit"]
	path = fillit
	url = https://tperraut@github.com/tperraut/fillit
[submodule "gnl"]
	path = gnl
	url = https://tperraut@github.com/tperraut/gnl
[submodule "fdf"]
	path = fdf
	url = https://tperraut@github.com/tperraut/fdf
[submodule "push_swap"]
	path = push_swap
	url = https://tperraut@github.com/tperraut/push_swap
